.img_container img{
    width: 340px;
    background-color: #222;
	filter:contrast(1.2);
    border-radius: 160px;
}

.img_container{
	
}


.img_container img{
	margin-top: 5rem;
    animation: myAnim 2.5s ease-in-out 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}


@media screen and (min-width: 320px) and (max-width:900px){


    
    .img_container img{
        width: 260px;
        background-color: #222;
        border-radius: 200px;
        margin-top: 0rem;
        
    }
}