.project__section{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}


@media screen and (max-width: 480px) {
   
    .project__section h3{
        font-size: 22px;
    }
    

}