.about__container{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.about__card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.card_u{
    margin-right: 2rem;
    text-align: center;
    background-image: url('../../assets/homeh2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 18px 0px #0b0b0b8d;
}


.card_u img{
    width: 460px;
    height: 500px;
    border-radius: 20px;
    filter: contrast(1.2);
}

.card_u img:hover{
    cursor: pointer;
    transition: 0.9s;
    opacity: 0%;
    background-image: url('../../assets/homeh2.png');
    filter: contrast(1.2);
    border-radius: 20px;
}


.card_u p{
    letter-spacing: 1px;
    font-size: 18px;
    
}

.card_t{
    background-color: rgba(112, 111, 111, 0.145);
    padding: 1rem;
    border-radius: 15px;
    margin-right: 2rem;
    text-align: center;
    box-shadow: 0px 5px 18px 0px #0b0b0b8d;
}
