.pic_about:hover{
    transform: scale(1.06);
    transition: 1s;
    cursor: pointer;
}

.pic_about{
    margin-right: 1rem;
}

.pic_about img{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    filter: contrast(1.15);
    box-shadow: 0px 10px 18px 0px #7471718d;
}

@media screen and (min-width: 320px) and (max-width: 900px){

    .pic_about img{
   display: none;
    }

    .pic_about{
        margin-bottom: 0rem;
    }

}