.txt_about{
    width: 600px;
   height: 400px;
   overflow-y: auto;
   background-color: rgb(207, 203, 203);
   border-radius: 30px;
   display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    margin-left: 1rem;
    box-shadow: 0px 10px 18px 0px #7471718d;
    
}

.txt_about p{
    font-size: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    text-align: start;
    font-weight: 400;
    color: rgb(7, 7, 7);
    letter-spacing: 1.3px;

 }



 .txt_about p span{
    font-weight: bold;
 }



 .txt_about:hover{
   transform: scale(1.06);
   transition: 1s;
   cursor: pointer;
   background-color: rgb(141, 194, 161);
   border-radius: 30px;
 }



 @media screen and (min-width: 320px) and (max-width: 900px){

   .txt_about{
    width: 310px;
    height: 380px;
    border-radius: 30px;
    filter: contrast(1.15);
    box-shadow: 0px 10px 18px 0px #0b0b0b8d;
    overflow-y: auto;
    background-color: rgb(188, 185, 185);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

  }

}