.capsula{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    height: 71.9%;
   
 
}


.skill_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}



@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}





@media screen and (min-width: 320px) and (max-width:900px){


	.skill_container{
        width:290px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 30px;
        text-align: center;
       
        
    }

    .capsula{
        display: flex;
  		flex-direction: column;
  		width: 280px;
  		height: 430px;
		justify-content: center;
    }
}

