.container__skill{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    
}

.box__skills{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 65vh;
    overflow-y: auto;
    background-color: rgba(93, 91, 91, 0.142);
}

.card_skills{
    border:2px solid rgb(143, 140, 140);
    background-color: rgba(65, 65, 61, 0.831);
    width: 15%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem;
    border-radius: 15px;
    padding:1rem;
}

.card_skills img{
    width: 120px;
    border-radius: 25px;
    padding: 0.5rem;
}

.txt_card h4{
    color:white;
}

