.capsula{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    height: 71.9%;
   
 
}


.skill_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: myAnim_um 1.5s ease-out 0s 1 normal forwards;
}



@keyframes myAnim_um {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}



@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@media screen and (min-width: 320px) and (max-width:900px){

	.skill_container{
		display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 30px;
        text-align: center;
	}

	.capsula{
		display: flex;
		flex-direction: column;
		width: 90%;
		justify-content: center;
		align-items: center;
		height: 100%;
	   
	 
	}
}

