.home__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    width: 320px;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}


.text_container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}



.text_container h4 span{
    color: rgb(43, 65, 204);
    padding: 0.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    border: 50px;
}


.img_container{
    
 
}

.img_container img{
    border-radius: 200px;
    width: 200px;
    filter: contrast(1.1);
    background-color: #222;
}


.buttonSec{
    background-color: rgb(75, 74, 74) ;
    color: rgb(246, 247, 252);
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    width: 90px;
    text-align: center;
    font-size: 0.6rem;
    margin-right: 0rem;
    margin-top: 1rem;
    
}

.buttonSec:hover{
    color:rgb(142, 143, 146);
    text-decoration: none;
    background-color: rgb(25, 62, 163);
}


.text_container h4{
    font-size: 18px;
    display: inline-block;
    border-right: 2px solid black;
    padding-right: 3px;
    max-width:0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
}

@keyframes pisca{
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}


@media screen and (min-width: 768px){
    .home__section{
        width: 100%;
        position: relative;
        height: 75vh;
    }

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        width: 100%;
        margin-bottom: 2rem;
        position: absolute;
        top: 4rem;
        right: 1rem;
    }

    .text_container h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    
    
    .text_container h4 span{
        color: rgb(43, 65, 204);
        padding: 0.2rem;
        font-weight: bold;
        letter-spacing: 3px;
        border: 50px;
    }
    
    
    .img_container{
        margin-right: 1rem;
     
    }
    
    .img_container img{
        border-radius: 200px;
        width: 440px;
        filter: contrast(1.1);
        background-color: #222;
        position: absolute;
        bottom:2rem;
        right: 11.5rem;
    }
    
    
    .buttonSec{
        background-color: rgb(75, 74, 74) ;
        color: rgb(246, 247, 252);
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: 0.5s;
        border-radius: 20px;
        width: 120px;
        text-align: center;
        font-size: 0.9rem;
        margin-right: 1rem;
        margin-top: 1rem;
        
    }
    
    .buttonSec:hover{
        color:rgb(142, 143, 146);
        text-decoration: none;
        background-color: rgb(25, 62, 163);
    }
    
    
    .text_container h4{
        font-size: 25px;
        display: inline-block;
        border-right: 2px solid black;
        padding-right: 3px;
        max-width:0;
        white-space: nowrap;
        overflow: hidden;
        animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
    }
}

@media screen and (min-width: 960px){

    .home__section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 75vh;
    }
    
    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        align-items: center;  
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        left: -10rem;
        top:8rem;
    }
    
    
    .text_container h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .img_container img{
        border-radius: 200px;
        width: 240px;
        filter: contrast(1.1);
        background-color: #222;
        position: absolute;
        top:8rem;
    }
}



@media screen and (min-width: 1024px) {
    .home__section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 75vh;
    }

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        left: -18rem;
        top:10rem;
    }
    
    
    .text_container h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .img_container img{
        border-radius: 200px;
        width: 340px;
        filter: contrast(1.1);
        background-color: #222;
        position: absolute;
        top:7rem;
        right: 15rem;
    }
}


@media screen and (min-width: 1920px){
    .home__section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 75vh;
    }

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        left: -18rem;
        top:10rem;
    }
    
    
    .text_container h1{
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    .img_container img{
        border-radius: 200px;
        width: 540px;
        filter: contrast(1.1);
        background-color: #222;
        position: absolute;
        top:7rem;
        right: 15rem;
    }

    .text_container h4{
        font-size: 3rem;
       
    }

    
.buttonSec{
    background-color: rgb(75, 74, 74) ;
    color: rgb(246, 247, 252);
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 1rem;
    margin-top: 2rem;
    
}

.buttonSec a{
    font-size: 1rem;
}
}

