

    .title__page h3{
        font-size: 2rem;
        color:rgb(199, 200, 199);
        font-weight: bold;
        text-align: center;
        letter-spacing: 4px;
    }

    .title__page p{
        font-size: 0.7rem;
        color:rgb(199, 200, 199);
        text-align: center;
        letter-spacing: 2px;
    }

    


    
@media screen and (min-width: 320px) and (max-width:900px){


  
    .title__page{
        border-radius: 200px;
        text-align: center;
        letter-spacing: 2px;
        width: 15rem;
    }

    .title__page h3{
        font-size: 1.2rem;
        color:rgb(192, 197, 194);
        text-align: center;
    }

    .title__page p{
        color:rgb(192, 197, 194);
        text-align: center;
    }
}