
.menu_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #222;
    justify-content: space-evenly;


}

.navbar{
    display: flex;
    margin-top: 0.5rem;
  
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.item{
    margin-right: 1.3rem;
    font-size: 1.2rem;
    border: none;
    
}

.item a{
    text-decoration: none;
    list-style: none;
    color:rgb(218, 208, 208);
    letter-spacing: 1px;
    
    
}

.item a:hover{
    transition: 0.4s;
    border: none;
    color:rgb(47, 103, 188);

}


.item_wpp a{
    font-size: 2.5rem;
    margin-left: 1rem;
    color:green;
    
    
}

.item_wpp{
    margin-top: 0.7rem;
}

.logo_leo{
    width: 80px;
}


@media screen and (min-width: 320px) and (max-width:900px) {

    .menu_section{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .item{
        font-size: 0.9rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .item a{
        font-size: 0.9rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .logo_leo{
        width: 0%;
        margin-top: 0.1rem;
        margin-right: 1rem;
        margin-left: 0.6rem;
    }

    .item_wpp{
        width: 0%;
}

.item_wpp a{
    font-size: 0px;
}
    
}
