.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0.5rem;
}

.logo_leo{
    width: 85px;

}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
}

.item{
    margin-right: 4rem;

}

.item a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.item a:hover{
    color: rgb(43, 65, 204);
}

.wpp{
    margin-top: 0.9rem;
    margin-right: 1rem;
}
.wpp a{
    font-size: 40px;
    color:rgb(10, 185, 10);
    
}



@media screen and (max-width: 480px){

    .navbar {
    width: 480px;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 0.4rem;
    position: relative;
    height: 12.5vh;
    }

    .logo_leo{
        width: 65px;
        margin-right: 2rem;
    }

    .list{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 6.5rem;
        top:0.6rem;
        
    }
    
    .item{
        margin-right: 2rem;

    
    }
    
    .item a{
        color: white;
        text-decoration: none;
        font-size: 0.7rem;
        margin-left: 0.1rem;
        
    }
    
    .item a:hover{
        color: rgb(43, 65, 204);
    }
    
    .wpp{
        margin-top: 0.7rem;
        position: absolute;
        right: 2.8rem;
        top:0.2rem;
    }
    .wpp a{
        font-size: 35px;
        color:rgb(10, 185, 10);
    }
}

@media screen and (max-width: 320px){

    .navbar {
    width: 320px;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 0.3rem;
    height: 8vh;
    position: relative;
    }

    .logo_leo{
        width: 35px;
        position: absolute;
        top:0.7rem;
        left: 0.8rem;
    }

    .list{
        width: 280px;
        list-style: none;
        position: absolute;
        top:0;
        left: 2.5rem;
       
    }
    

    .item a{
        color: white;
        text-decoration: none;
        font-size: 0.5rem;
        margin-left: 0rem;
        list-style: none;
    }
    
    .item a:hover{
        color: rgb(43, 65, 204);
    }
    
    .wpp{
        margin-top: 0rem;
        list-style: none;
        position: absolute;
        top:0.9rem;
        right: 0.8rem;
    
    }
    .wpp a{
        font-size: 20px;
        color:rgb(10, 185, 10);
        list-style: none;
        margin-right: 0;
    }
}
