.mobile__btn{
    border: none;
}


.mobile__btn:hover{
    background-color: transparent;
}

.logo_menu_mobile{
    width: 3rem;
}

@media (min-width: 320px) and (max-width: 600px) {

    .mobile__btn{
        background-color:transparent;
        cursor: pointer;
    }

   }