.mobile__btn{
    border: none;
}


.mobile__btn:hover{
    background-color: transparent;
}

.logo_menu_mobile{
    width: 2rem;
    margin-right: 1.5rem;
}

@media (min-width: 320px) and (max-width: 560px) {

    .mobile__btn{
        background-color:transparent;
        cursor: pointer;
        border: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .logo_menu_mobile{
        width: 2.5rem;
        text-align: center;
        margin-right: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .logo_menu_mobile button:hover{
        border: none;
    }

    .logo_menu_mobile:hover{
        border: none;
    }

   }