.mobile_menu_section{
  
}

.mobile_menu{
    background-color:rgb(141, 194, 161);
    display: flex;
    flex-direction: column;
    margin-top: 2.54rem;
    right: 0rem;
    border-radius: 20px;
    z-index: 2;

}

.list_mobile{
    width: 80%;
}

.item_mobile{
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}

.item_mobile a{
    text-decoration: none;
    list-style: none;
    color:white;
    letter-spacing: 2px;
}

.item_mobile a:hover{
    color:rgb(27, 29, 28);
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 560px) {

    .mobile_menu{
        width: 50%;
        background-color:rgb(141, 194, 161);
    }

   }