


.text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    width: 430px;
}


.text_container h1{
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}



.text_container h4 span{
    color:rgb(141, 194, 161);
    padding: 0.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 50px;
    text-decoration: overline;
}


.text_container h4{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size:2rem;
    margin-bottom: 2rem;
    display: inline-block;
    border-right: 3px solid rgb(9, 113, 49);
    padding-right: 3px;
    max-width:0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
}

.text_container Button{
    background-color: rgb(141, 194, 161);
}

@keyframes pisca{
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}



@media screen and (min-width: 320px) and (max-width:900px){

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        width: 310px;
        margin-top: 4rem;
    }
    
    
    .text_container h1{
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        margin-top: 2rem;
        text-align: center;
    }
    
    .text_container h4{
        letter-spacing: 2px;
        font-size:1.3rem;
        margin-bottom: 2rem;
    
    }

    .text_container h4 span{
        color:rgb(141, 194, 161);
        padding: 0.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        border: 50px;
    }

    .btn_cv{
        margin-bottom: 2rem;
    }
    
}