.buttonSec{
    background-color: rgb(75, 74, 74) ;
    color: rgb(246, 247, 252);
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
}

.buttonSec:hover{
    color:rgb(88, 136, 232);
    text-decoration: none;
}