.btn {
    text-decoration: none;
    list-style: none;
    background-color: rgb(48, 46, 46);
    color:wheat;
}


.btn a{
    text-decoration: none;
    list-style: none;
    background-color: rgb(48, 46, 46);
    color:wheat;
}