.button__all{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(9, 29, 81);
    color: white;
    position: absolute;
    
}

button:hover{
    transition: 0.3s;
    background-color: rgb(30, 75, 172);
    font-weight: bold;
    cursor: pointer;
}

.button__all a{
    text-decoration: none;
    color:white;
}
