.btn_ctt{
    width: 7.5rem;
    height: 2rem;
    border-radius: 200px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: rgba(146, 146, 150, 0.579);
    color:rgb(37, 37, 38);
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0.4rem;
}

button:hover{
    color:rgb(12, 89, 42);
    background-color: rgb(231, 224, 224);
}