
.card__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 30px;
    width: 1200px;
    overflow-y: auto;
    animation: myAnim 1.5s ease-out 0s 1 normal forwards;
}

.card__projects{
    background-color: rgb(189, 192, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    text-align: center;
    margin:1.5rem;
    padding: 2rem;

}

.btn_pj{
    width: 7.5rem;
    height: 2rem;
    border-radius: 200px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #222;
    color:rgb(7, 13, 38);
}


.card__projects:hover{
    animation: myAnim_pj 1s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
    cursor: pointer;
}


@keyframes myAnim_pj {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.card__projects h4{
    color:rgb(7, 13, 38);
}

.card__projects p{
    color:rgb(7, 13, 38);
}




@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}