.footer{
    background-color: #222 ;
    color:white;
    padding: 1rem;
    text-align: center;
}

.social_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

.social_list li{
    margin-right:1rem;
    margin-top: 0.5rem;
  
}

.social_list li svg:hover{
    color: rgb(43, 65, 204);
}

.social_list li svg{
    font-size: 2rem;
    cursor: pointer;
    color:white;
}

.copy{
    margin-top: 1rem;
    display: flex;
    justify-content: center;


}

.copy span{
    font-weight: bold;
    color: rgb(207, 208, 215);
    margin-right: 0.5rem;
}

footer p{
    font-weight: 200;
    letter-spacing: 1px;
}

footer p a{
    cursor: pointer;
}

footer p a:hover{
    color: blue;
}

@media screen and (max-width: 600px) {

    .social_list li svg{
        font-size: 1.4rem;
        cursor: pointer;
        color:white;
    }

    footer p{
        font-size: 12px;
    }
}


    @media screen and (max-width: 480px){
        .footer {
            width: 480px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-items: center;
           
        }

        .social_list{
            margin-right: 1.5rem;
        }

        .copy{
            margin-right: 1.5rem;
        }
    }


    @media screen and (max-width: 320px){

        .footer{
            background-color: #222 ;
            color:white;
            padding: 0.4rem;
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 320px;
          
        }
    
        .social_list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            margin-top: 1rem;
         
        }
        
        .social_list li{
          
            margin-top: 0.5rem;
          
        }
        
        .social_list li svg:hover{
            color: rgb(43, 65, 204);
        }
        
        .social_list li svg{
            font-size: 1.2rem;
            cursor: pointer;
            color:white;
        }

        footer p{
            font-size: 0.6rem;
        }
        
    }