.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20vh;
    background-color: #222;
    justify-content: center;
    align-items: center;
}

.social_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.social_list li{
    margin-right: 1rem;
    font-size: 1.6rem;
}

.social_list li:hover{
    color: blue;
}

.footer p{
    color: white;
    font-size: 0.9rem;
}

.footer p span{
    margin-right: 1rem;
}


@media screen and (min-width: 320px) and (max-width:900px) {

    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 15vh;
        background-color: #222;
        justify-content: center;
        align-items: center;
    }
    
    .social_list{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .social_list li{
        margin-right: 1rem;
        font-size: 1.2rem;
    }
    
    .social_list li:hover{
        color: blue;
    }
    
    .footer p{
        color: white;
        font-size: 0.7rem;
    }
    
    .footer p span{
        margin-right: 1rem;
    }
    
}